<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">UserId</label>
    <input type="url" [value]="" class="form-control" id="txgImage" >
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">First Name</label>
    <input type="text" [value]="" class="form-control" id="txtDogName">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
    <input type="text" [value]="" class="form-control" id="txtBreed">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email Address</label>
    <input type="number " [value]="" class="form-control" id="numAge">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input type="number " [value]="" class="form-control" id="numAge">
  </div>
