<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">User Id</label>
    <input type="url" [value]="" class="form-control" id="" >
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">First Name</label>
    <input type="text" [value]="" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Last Name</label>
    <input type="text" [value]="" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email Address</label>
    <input type="number " [value]="" class="form-control" id="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input type="number " [value]="" class="form-control" id="">
  </div>
  <button (click)="($event)" >Login!</button>
