<form [formGroup]="registrationFormGrp" (ngSubmit)="  RegisterUser()
">
  <mat-form-field>
    <input type="text" matInput placeholder="User ID" formControlName="frmuserId" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="text" matInput placeholder="First Name" formControlName="frmfirstName" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="text" matInput placeholder="Last Name" formControlName="frmlastName" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="email" matInput placeholder="Email" formControlName="frmemailAddress" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="frmpassword" required>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>


